<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.edgetr.FitLink</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fitlink</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHealthShareUsageDescription</key>
	<string>FitLink needs access to your health data to display your daily steps, active energy, exercise minutes, heart rate, and sleep analysis on the dashboard and activity summary screens.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>FitLink needs access to update your health data to track workout progress.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
